.container {
    background-color: theme('colors.page-bg');
    div {
        background-color: theme('colors.page-bg');
    }
    * {
        all: revert;
        /* font-family: monospace; */
        @apply font-sans;
    }
    a {
        color: inherit;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
}
