.container {
    & > div,
    span:global(.heading-actions) {
        @apply bg-transparent;
    }

    * {
        @apply font-sans;
    }

    div {
        a {
            color: inherit;
            text-decoration: none;
            @apply text-primary;
        }
        pre {
            @apply my-3;
        }
        ::marker {
            @apply text-primary;
        }
        /** hack */
        :global(.code-block):global(.code-block) {
            pre {
                @apply bg-[#0e262f] bg-opacity-30 rounded-lg;
            }
            button {
                @apply text-page-text bg-primary-darker border-2 border-primary-dark shadow-none right-0 top-0 border-solid rounded-lg px-2;
            }
        }
        p {
            code {
                @apply bg-[#0e262f] py-1 px-2;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:nth-child(2) {
                margin-top: theme('spacing.2');
            }
        }
    }

    div:global(.notice-block) {
        &:global(.warning) {
            @apply bg-red-800;
        }
        &:global(.tip) {
            @apply bg-purple-600;
        }
    }
}
