.container {
    @apply bg-page-bg;

    & > div,
    span:global(.heading-actions) {
        @apply bg-page-bg;
    }

    * {
        @apply font-sans;
    }

    div {
        a {
            color: inherit;
            text-decoration: none;
            @apply text-primary;
        }
        pre {
            @apply my-3;
        }
        ::marker {
            @apply text-primary;
        }
        :global(.code-block) {
            pre {
                @apply bg-green-500 bg-opacity-10;
            }
            button {
                @apply text-page-text bg-primary-darker border border-primary;
            }
        }
        p {
            code {
                @apply bg-primary-darker;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:nth-child(2) {
                margin-top: theme('spacing.2');
            }
        }
    }

    div:global(.notice-block) {
        &:global(.warning) {
            @apply bg-red-800;
        }
        &:global(.tip) {
            @apply bg-purple-600;
        }
    }
}
