@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/tailwind.css';
@import 'tailwindcss/variants.css';

@import './fonts/index.css';

html {
    background-color: theme('colors.page-bg');
    color: theme('colors.page-text');
    --h-screen: calc(var(--vh, 1vh) * 100);
    min-height: -webkit-fill-available;
    max-height: -webkit-fill-available;
    font-size: max(1em, min(1.7vmin, 1.2vw));
    @media screen and (max-width: 400px) and (orientation: portrait),
        (max-height: 400px) and (orientation: landscape) {
        font-size: 85%;
    }
    body {
        font-family: 'Menlo Regular';
        min-height: var(--h-screen);
        max-height: var(--h-screen);
        #__next {
            min-height: var(--h-screen);
            max-height: var(--h-screen);
        }
    }
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.scrollbar-hide {
    ::-webkit-scrollbar {
        display: none;
    }
    ::-moz-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
